* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(185, 22, 54);
}

  
.container {
    background-color: rgb(196, 187, 189);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.card {
    width: 30%;
    height: auto;
    border-radius: 1rem;
    vertical-align: top;
    border-width: 10px;
    margin: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 15px;  
    text-align: center;
    display: inline-block;
}

.image {
    background-image: url(cardbg.jpg);
    width: 100%;
    padding-top: 30px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}



.detailsYellow {
    background-color: rgb(230, 192, 98);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.detailsRed {
    background-color: rgb(230, 98, 98);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.detailsLight {
    background-color: rgb(98, 199, 230);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.detailsPurple {
    background-color: rgb(138, 98, 230);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.detailsGray {
    background-color: rgb(165, 165, 165);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.detailsPink {
    background-color: rgb(221, 96, 138);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.type1Electric {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(189, 189, 72);
    border-radius: 20px;
}

.type1Fire {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(189, 35, 24);
    border-radius: 20px;
}

.type1Psychic {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(235, 111, 179);
    border-radius: 20px;
}

.type1Dark {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(80, 70, 69);
    border-radius: 20px;
}

.type2Flying {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(135, 207, 230);
    border-radius: 20px;
}

.type2Ghost {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(135, 145, 230);
    border-radius: 20px;
}

.type1Steel {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(105, 138, 175);
    border-radius: 20px;
}

.type2Rock {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    width: auto;
    background: rgb(155, 142, 118);
    border-radius: 20px;
}

.buttons{
    text-align: center;
}

.name {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

.type {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

.desc {
    color: azure;
    text-shadow: 2px 2px 4px #000000;
}

.add {
    transition-duration: 0.4s;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    text-align: center;
    width: auto;
    margin: 5px;
    padding: 5px;
    background: rgb(39, 139, 221);
    border-radius: 20px;
}

.add:hover {
    background-color: #ffffff;
    color: rgb(39, 139, 221);
}

.release {
    transition-duration: 0.4s;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    text-align: center;
    width: auto;
    margin: 5px;
    padding: 5px;
    background: rgb(197, 63, 39);
    border-radius: 20px;
}

.release:hover {
    background-color: #ffffff;
    color: rgb(197, 63, 39);
}